<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Convoy App, <%= @user.first_name %></h1>
    <p>
      Please confirm your email through this link:
      <a href=<%= "http://www.google.com" %>><%= "http://www.google.com" %></a>
    </p>
  </body>
</html>