<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Convoy App <%= @user.first_name %>!</h1>
    <p>
      Please confirm your email through this link:
      <a href=<%= "https://fast-eyrie-2498.herokuapp.com/carpoolapp/user/#{@user.username}/activate?activate_token=#{@user.activate_token}" %>><%= "http://convoyappthingy.com/activate" %></a>
    </p>
  </body>
</html>